<span class="odd active"><a href="/">API Documentation Index</a></span>
	<for each="thisClass" in="data">
	{!
		if (thisClass.alias == "_global_") {
        if ($thisClass_i % 2 == 1) { 
          output += "<span class='odd global'>";
          output += new Link().toClass(thisClass.alias);
          output += "</span>";
          
        };
        if ($thisClass_i % 2 == 0) { 
          output += "<span class='even' global>";
          output += new Link().toClass(thisClass.alias);
          output += "</span>";
        };
		}
		else {
        if ($thisClass_i % 2 == 1) { 
          output += "<span class='odd'>";
          output += new Link().toClass(thisClass.alias);
          output += "</span>";
          
        };
        if ($thisClass_i % 2 == 0) { 
          output += "<span class='even'>";
			    output += new Link().toClass(thisClass.alias);
          output += "</span>";
        };
		}
	!}
	</for>
