<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Aloha Editor</title>
  <meta name="description" content="The world's most advanced browser HTML5 based WYSIWYG editor lets you experience a whole new way of editing." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/api.css" />
  <script src="js/lib/modernizr-1.7.min.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
	
	<body id="docs" class="blue">
		{+include("static/header.html")+}
		
			<section id="list">
    <header>
    <h2>Aloha Editor API Classes</h2>
      <form action="#" role="search">
        <input type="text" />
      </form>
    </header>
    <div>
			{+publish.classesIndex+}
		</div>
  <footer>
    <button>REPORT AN ISSUE</button>
  </footer>
    </section>
		
		<div role="main">
      <section id="documentation">
			<h1 class="classTitle">File Index</h1>
			
			<for each="item" in="data">
				<h2>{+new Link().toSrc(item.alias).withText(item.name)+}</h2>
				<if test="item.desc">{+resolveLinks(item.desc)+}</if>
				<dl>
					<if test="item.author">
						<dt class="heading">Author:</dt>
						<dd>{+item.author+}</dd>
					</if>
					<if test="item.version">
						<dt class="heading">Version:</dt>
							<dd>{+item.version+}</dd>
					</if>
					{! var locations = item.comment.getTag('location').map(function($){return $.toString().replace(/(^\$ ?| ?\$$)/g, '').replace(/^HeadURL: https:/g, 'http:');}) !}
					<if test="locations.length">
						<dt class="heading">Location:</dt>
							<for each="location" in="locations">
							<dd><a href="{+location+}">{+location+}</a></dd>
							</for>
					</if>
				</dl>
			</for>
			
		<div class="fineprint" style="clear:both">
			<if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
			Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
		</div>
</section>
		</div>
	</body>
</html>
