<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Aloha Editor</title>
  <meta name="description" content="The world's most advanced browser HTML5 based WYSIWYG editor lets you experience a whole new way of editing." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/api.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script> 
  <script src="js/jquery-bbq.js"></script>
  <script src="js/api.js"></script>
  <script src="js/lib/modernizr-1.7.min.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
	
	<body id="docs" class="blue">
		{+include("static/header.html")+}
		
		<section id="list">
    <header>
      <form action="#" role="search">
        <input type="text" />
        <a href="#" class="search-reset"></a>
      </form>
    </header>
    <div>
			{+publish.classesIndex+}
		</div>
    </section>
    <footer>
      <a href="https://github.com/alohaeditor/Aloha-Editor/issues" class="button secondary">REPORT AN ISSUE</a>
    </footer>
		
		<div role="main">
    <section id="documentation">

			<h1 class="classTitle">API Documentation Index</h1>
			
			<for each="thisClass" in="data">
          <h2 class="classname">{+(new Link().toSymbol(thisClass.alias))+}</h2>
          <p class="description">{+summarize(thisClass.classDesc)+}</p>
			</for>
		<div class="fineprint" style="clear:both">
			<if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
			Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
		</div>
</section>
		</div>
	</body>
</html>
