/* candidate for a oerpub plugin? */

figure {
    counter-increment: figure;
}

figure figcaption::before {
    content: "Figure 1." counter(figure) " ";
    font-weight: bold;
}

/* Hide aloha default toolbar */

.aloha-table-wrapper div.aloha-wai-red {
    background-image: none !important;
}

.aloha-toolbar {
    display: none !important;
}

/* hide the active edit area outline */

.aloha-editable-active, .aloha-editable-active[contenteditable="true"]:focus {
    outline: none !important;
}
