body { color: #797875; }
a { font-weight: normal; }
.title a { font-weight: 700; }
ul, ol {
	margin: 0;
	padding: 0;
}
li { list-style-type: none; }
.navigation h1,
.navigation h2,
.navigation h3,
.navigation h4 { font-family: 'Roboto', sans-serif; }
#wrap { position: relative; }
::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3);
	border-radius: 4px;
}
.navigation {
	position: fixed;
	float: left;
	width: 250px;
	height: 100%;
	background: #333;
	color: rgba(255,255,255,0.5);
	-webkit-transition: background-color 3s; /* Don't transition in ff*/
}
.navigation a {
	color: #fff;
	border-color: transparent;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	         font-smoothing: antialiased;
}
.navigation .list a:hover { border-color: rgba(255,255,255,0.3); }
.navigation .applicationName { margin: 10px 10px 0; }

.navigation .search { padding: 10px 15px; }
.navigation .search input {
	color: #797875;
	border: none;
	border-radius: 2px;
	font-weight: normal;
	font-size: 1em;
	line-height: 1em;
	height: 2.5em;
}
.navigation .list {
	padding: 10px 15px 0;
	position: relative;
	overflow: auto;
	width: 100%;
}
.navigation li.item { padding-bottom: 4px; }
.navigation li.item:last-child { padding-bottom: 15px; }
.navigation li.item .title {
	font-weight: bold;
	cursor: pointer;
	position: relative;
	display: block;
}
.navigation li.item .title .static { display: none; }
.navigation li.item .subtitle {
	margin-top: 10px;
	font-size: 0.8em;
	display: block;
}
.navigation li.item ul > li {
	font-size: 0.9em;
	padding-left: 8px;
	margin-top: 2px;
}
.navigation li.item .itemMembers {
	display: none;
	margin-left: 20px;
}
.main {
	padding: 20px 20px;
	margin-left: 250px;
}
.main .page-title { display: none; }
.main h1 {
	font-weight: bold;
	margin: 0;
}
.main h2 {
	font-weight: bold;
	margin: 0;
}
.main h3 {
	font-weight: bold;
	margin: 5px 0;
}
.main h4 { font-weight: bold; }
.main h5 { font-weight: bold; }
.main h4.name span.type-signature.type a { color: #fff; }
.main h4.name span.type-signature {
	display: inline-block;
	background: #edede8;
	border-radius: 20px;
	margin-left: 5px; 
	padding: 4px 8px;
	color: #adada8;
	font-weight: 700;
	font-size: 0.8em;
}
.main h4.name span.type-signature:first-child { display: none; }
.main h4.name span.type { margin-left: 5px; }
.main h4.name span.glyphicon {
	display: inline-block;
	margin: -5px 0 0 5px;
	vertical-align: middle;
	color: #adada8;
	font-size: 0.6em;
}
.main span.static  { display: none; }
.main span.number  { background-color: gray    !important; }
.main span.string  { background-color: gray    !important; }
.main span.object  { background-color: #2a6496 !important; }
.main span.array   { background-color: #2a6496 !important; }
.main span.boolean { background-color: #ee7d7d !important; }
.main .subsection-title {
	margin-top: 30px;
	color: #779c34;
}
.main .description {
	margin-top: 10px;
	font-size: 0.8em;
}
.main .params {
	font-size: 0.8em;
	margin-top: 10px;
}
.main article>dl>dd a {
	font-weight: 300;
	font-size: 0.8em;
}
.main article>dl>dt,
.main article>dl>dd {
	background: #f9f9f5;
	border-left: 5px solid #efefeb;
	padding: 4px 16px;
}
.main article>dl>dt { padding-bottom: 1px; }
.main article>dl>dd { margin: -10px 0 10px; }
.main dt.tag-source { margin-top: 5px; }
.main dt.tag-todo {
	display: inline-block;
	background-color: #2a6496;
	color: #fff;
	padding: 2px 4px;
	border-radius: 5px;
}
.main .tag-deprecated { display: inline-block; }
.main .important {
	background-color: #ee7d7d;
	color: #fff;
	padding: 2px 4px;
	border-radius: 5px;
}
.main .nameContainer { position: relative; }
.main .nameContainer .inherited {
	display: inline-block;
	border-radius: 3px;
	background-color: #888 !important;
	padding: 2px 4px;
	margin-right: 5px;
}
.main .nameContainer .inherited a { color: #fff; }
.main .nameContainer .tag-source {
	position: absolute;
	top: 0;
	right: 0;
}
@media (max-width: 979px) { .main .nameContainer .tag-soure { display: none; } }

.main .nameContainer h4 {
	margin-right: 150px;
	line-height: 1.3;
	font-size: 1.5em;
}
.main .nameContainer h4 .signature { font-weight: 300; }

.main table {
	width: 100%;
	margin-bottom: 15px;
}

.main table th,
.main table td {
	vertical-align: top;
	padding: 3px;
}
.main table th.last,
.main table td.last { display: none;}

.main table .name { width: 110px; }
.main table .type {
	width: 60px;
	color: #aaa;
}
.main table .attributes {
	width: 80px;
	color: #aaa;
}
.main table .description p { margin: 0; }
.main table .optional {
	float: left;
	border-radius: 3px;
	background-color: #ddd !important;
	padding: 2px 4px;
	margin-right: 5px;
	color: gray;
}
.main .readme img { border-radius: 100px; }
.main .readme p {
	margin-top: 15px;
	line-height: 1.2;
}
.main .readme h2 {
	margin-top: 30px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e1e1e1;
}
.main .readme li { margin-bottom: 10px; }
.main article ol,
.main article ul { margin-left: 25px; }
.main article ol > li {
	list-style-type: decimal;
	margin-bottom: 5px;
}
.main article ul > li {
	margin-bottom: 5px;
	list-style-type: disc;
}
footer {
	margin: 15px 0;
	border-top: 1px solid #e1e1e1;
	font-size: 0.8em;
	color: gray;
}
.main table .type { width: 120px; }
.param-type {
	border-radius: 3px;
	padding: 3px 5px;
}
.param-type {
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	        transition: all 0.5s;
}
.param-type.error {
	color: white;
	background: #c7254e;
}
.param-type.ok {
	color: white;
	background: #779c34;
}

.main pre {
	background: #fff;
	border: 1px solid #edede8;
	margin: 20px 0;
	padding: 20px;
	color: #adada8;
}
