[submodule "format"]
	path = format
	url = https://github.com/alohaeditor/Aloha-Plugin-Format
[submodule "highlighteditables"]
	path = highlighteditables
	url = https://github.com/alohaeditor/Aloha-Plugin-HighlightEditables.git
[submodule "link"]
	path = link
	url = https://github.com/alohaeditor/Aloha-Plugin-Link.git
[submodule "table"]
	path = table
	url = https://github.com/alohaeditor/Aloha-Plugin-Table.git
[submodule "abbr"]
	path = abbr
	url = https://github.com/alohaeditor/Aloha-Plugin-Abbreviation
[submodule "paste"]
	path = paste
	url = https://github.com/alohaeditor/Aloha-Plugin-Paste.git
[submodule "undo"]
	path = undo
	url = https://github.com/alohaeditor/Aloha-Plugin-Undo.git
[submodule "list"]
	path = list
	url = https://github.com/alohaeditor/Aloha-Plugin-List.git
[submodule "align"]
	path = align
	url = https://github.com/alohaeditor/Aloha-Plugin-Align.git
[submodule "characterpicker"]
	path = characterpicker
	url = git@github.com:alohaeditor/Aloha-Plugin-CharacterPicker.git
