{
	# Default
	default:
		css:
			files: [
				'dep/ext-3.2.1/resources/css/ext-all-notheme.css'
				'dep/ext-3.2.1/resources/css/xtheme-gray.css'
				'css/aloha.css'
			]
		js:
			files: [
				'util/base.js'

				'dep/ext-3.2.1/adapter/jquery/ext-jquery-adapter.js'
				'dep/ext-3.2.1/ext-all.js'

				'dep/jquery.json-2.2.min.js'
				'dep/jquery.getUrlParam.js'
				'dep/jquery.store.js'

				'core/jquery.aloha.js'
				'util/lang.js'
				'util/range.js'
				'util/position.js'
				'util/dom.js'
				'core/ext-alohaproxy.js'
				'core/ext-alohareader.js'
				'core/ext-alohatreeloader.js'
				'core/core.js'
				'core/ui.js'
				'core/ui-attributefield.js'
				'core/ui-browser.js'
				'core/editable.js'
				'core/floatingmenu.js'
				'core/ierange-m2.js'
				'core/log.js'
				'core/markup.js'
				'core/message.js'
				'core/plugin.js'
				'core/selection.js'
				'core/sidebar.js'
				'core/repositorymanager.js'
				'core/repository.js'
				'core/repositoryobjects.js'
			]

		sub:
			dirs: [
				'plugin/format'
				'plugin/highlighteditables'
				'plugin/image'
				'plugin/link'
				'plugin/linkchecker'
				'plugin/list'
				'plugin/paste'
				'plugin/table'
			]

	# Check files
	check:
		css:
			dir: './src'
			files: 'default'
			options: null
		js:
			dir: './src'
			files: 'default'
			options: null
	
	# Copies src to out
	cp: [
		['./src','./out']
	]
	
	# Pack files
	pack:
		css:
			dir: './src'
			out: 'aloha.css'
			files: 'default'
		js:
			dir: './src'
			out: 'aloha.js'
			files: 'default'

	# Merge files
	merge:
		css:
			dir: './out'
			out: 'aloha.css'
			files: 'default'
			del: true
		js:
			dir: './out'
			out: 'aloha.js'
			files: 'default'
			del: true
	
	# Compress files
	compress:
		css:
			dir: './out'
		js:
			dir: './out'
		img:
			dir: './out'
}