button.GENTICS_img_align_left {
    background-image: url(images/image-align-left.png) !important;
}

button.GENTICS_img_align_right {
    background-image: url(images/image-align-right.png) !important;
}

button.GENTICS_img_align_none {
    background-image: url(images/image-align-none.png) !important;
}

button.GENTICS_img_title {
    background-image: url(images/image-title.png) !important;
}

button.GENTICS_img_border {
    background-image: url(images/image-border.png) !important;
}

button.GENTICS_img_insert {
    background-image: url(images/image.gif) !important;
}

button.GENTICS_img_padding_increase {
	background-image: url(images/padding-increase.gif) !important;
	}
	
button.GENTICS_img_padding_decrease {
	background-image: url(images/padding-decrease.gif) !important;
	}
button.GENTICS_img_size_increase {
	background-image: url(images/size-increase.gif) !important;
	}
button.GENTICS_img_size_decrease {
	background-image: url(images/size-decrease.gif) !important;
	}