.aloha-ui {
	z-index: 9999;
}

.aloha-ui * {
	color: white;
}

.aloha-3d {
	display: inline-block;
	position: absolute;
	-webkit-perspective: 200;
	   -moz-perspective: 200;
	    -ms-perspective: 200;
	        perspective: 200;

	/* Needed in Firefox <= 15 to activate 3d acceleration in order to apply
	   perspective */
	-moz-transform-style: preserve-3d;
	-moz-transform: perspective(200px);
}
/* This is the element on which to apply transformation */
.aloha-3d>* {
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.aloha-ui.btn-toolbar { 
	display: inline-block; 
	float: right;
}

.aloha-ui input,
.aloha-ui .btn,
.aloha-ui .btn:focus,
.aloha-ui .btn:active { outline: 0; }

.aloha-ui .btn,
.aloha-ui .btn-toolbar,
.aloha-ui.btn-toolbar {
	font-size: 18px;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	         font-smoothing: antialiased;
}
.aloha-ui .btn {
	min-width: 45px;
	height: 45px;
	margin-left: 0;
}
.aloha-ui .btn.dropdown-toggle {
	-webkit-transition: width 0.25s;
	   -moz-transition: width 0.25s;
	    -ms-transition: width 0.25s;
	        transition: width 0.25s;
}

.aloha-ui.btn-toolbar .dropdown-menu {
	border: 0;
	padding: 0;
	font-size: 16px;
}

.aloha-ui.btn-toolbar,
.aloha-ui a,
.aloha-ui a:focus,
.aloha-ui button,
.aloha-ui button:focus,
.aloha-ui .dropdown-menu a, 
.aloha-ui .dropdown-menu a:focus {
	border: 0;
	border-radius: 0;
	background: transparent;
	color: white;
	margin: 0 1px;
}
.aloha-ui.btn-toolbar.btn-toolbar>.btn-group {
	margin-left: 0;
}
.aloha-ui a
.aloha-ui button {
	-webkit-transition: background-color 0.25s;
	   -moz-transition: background-color 0.25s;
	    -ms-transition: background-color 0.25s;
	        transition: background-color 0.25s;
}
.aloha-ui a.active,
.aloha-ui a:hover,
.aloha-ui button.active,
.aloha-ui button:hover,
.aloha-ui .dropdown-menu .active,
.aloha-ui .dropdown-menu a:hover,
.aloha-ui .btn-group.open .btn,
.aloha-ui .btn-group.open .btn.active {
	color: white;
	background: rgba(255,255,255,0.2);
	box-shadow: 0;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
}

@-webkit-keyframes flip-open {
	0% {
		opacity: 0.2;
		-webkit-transform: rotateX(30deg) translateY(5px) translateZ(10px) scale(0.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
}
@-moz-keyframes flip-open {
	0% {
		opacity: 0.2;
		-moz-transform: rotateX(30deg) translateY(5px) translateZ(10px) scale(0.8);
	}
	100% {
		opacity: 1;
		-moz-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
}
@-webkit-keyframes flip-close {
	0% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotateX(80deg) translateY(5px) translateZ(10px) scale(0.8);
	}
}
@-moz-keyframes flip-close {
	0% {
		opacity: 1;
		-moz-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
	100% {
		opacity: 0;
		-moz-transform: rotateX(80deg) translateY(5px) translateZ(10px) scale(0.8);
	}
}

/** links **/
.aloha-3d .aloha-link-toolbar {
	display: none;
	background: transparent;
	white-space: nowrap;
}
.aloha-3d.active .aloha-link-toolbar {
	display: block;
	-webkit-animation: flip-open .2s ease-out forwards;
	   -moz-animation: flip-open .2s ease-out forwards;
	    -ms-animation: flip-open .2s ease-out forwards;
	        animation: flip-open .2s ease-out forwards;
}
.aloha-3d.closed .aloha-link-toolbar {
	-webkit-animation: flip-close .2s ease-out forwards;
	   -moz-animation: flip-close .2s ease-out forwards;
	    -ms-animation: flip-close .2s ease-out forwards;
	        animation: flip-close .2s ease-out forwards;
}
.aloha-link-toolbar a,
.aloha-link-toolbar input,
.aloha-link-toolbar button {
	display: block;
	float: left;
}
.aloha-link-toolbar input {
	color: #fff;
	border: 0;
	background: rgba(255,255,255,0.2);
	padding: 0 12px;
	width: 310px;
	height: 49px;
	font-size: 18px;
	margin-top: -4px;
}
.aloha-link-toolbar a.btn { padding-top: 10px; }
.aloha-link-toolbar .aloha-action-follow { float: right; }

.aloha-active,
.aloha-active:hover {
	outline: 3px solid rgba(93, 174, 204, 0.15);
}

.aloha-arrow-up {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	margin: -4px auto 0;
	border-left:   8px solid transparent;
	border-right:  8px solid transparent;
	border-bottom: 8px solid rgb(90,90,90);
}

.aloha-sticky-top-active {
	position: fixed;
	top: 0px;
}

.menu-wrap { height: 45px; }

.aloha-editable {
	padding-top: 40px;
}

.aloha-editable a {
	cursor: text;
	text-decoration: underline;
}

.navbar {
	height: auto;
	min-height: 60px;
}

.navbar-header, .navbar-right {
	display: block;
}

.aloha-editable {
	max-width: 800px;
	margin: 50px auto;
	padding: 50px;
}
.aloha-editable p,
.aloha-editable h1,
.aloha-editable h2,
.aloha-editable h3,
.aloha-editable h4 { margin-bottom: 1em; }
.aloha-editable li { margin-bottom: 0.5em; }
.aloha-editable>:first-child { margin-top: 0; }
.aloha-editable>:last-child { margin-bottom: 0; }
.aloha-editable b { font-weight: 700; }
.aloha-editable a { color: #4ea9de; }

@media (max-width: 768px) {
	.aloha-editable { margin-top: 100px; }
}
@media (max-width: 480px) {
	.aloha-editable { margin-top: 140px; }
}
