.aloha-ui-colorpicker-overlay {
	display: none;
	position: absolute;
	background: #fff;
	border-collapse: collapse;
	z-index: 999999;
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
}
.aloha-ui-colorpicker-overlay td {
	padding: 0;
	font-size: 1em;
}
.aloha-ui-colorpicker-overlay td>div {
	width: 1em;
	height: 1em;
	border: 2px solid transparent;
	cursor: pointer;
	text-align: center;
}
/** --- Because ie7 does not support rgba --- */
.aloha-ui-colorpicker-overlay td.focused>div {
	border-color: #000;
}
.aloha-ui-colorpicker-overlay td.selected>div,
.aloha-ui-colorpicker-overlay td.selected.focused>div {
	border-color: #fff;
}
/** --- ie7 --- */
.aloha-ui-colorpicker-overlay td.focused>div {
	border-color: rgba(0,0,0,0.5);
}
.aloha-ui-colorpicker-overlay td.selected>div,
.aloha-ui-colorpicker-overlay td.selected.focused>div {
	border-color: rgba(255,255,255,0.5);
}
