<%
  order = guides.delete('order')
  order.each do |name|
    list = guides[name]
%>
  <h3 class="group"><%= name %></h3>

  <dl>
    <% list.each do |guide| %>
      <dt><%= guide_link(guide) %></dt>
      <dd class="clearfix">
        <% if guide["construction"] %>
          <img src="images/strobe/notes.png" />
        <% end %>
        <p><%= guide["text"] %></p>
      </dd>
    <% end %>
  </dl>
<% end %>

