<% content_for :sidebar do %>

<h3>Icon Legend</h3>

<p>
  <img src="images/strobe/warning.png">
  The warning icon means the content you're looking at isn't quite done yet.
</p>

<p>
  <img src="images/strobe/notes.png">
  Notes are bits of important side info you want to make sure you pay attention to.
</p>

<p>
  <img src="images/strobe/pin.png">
  Pins are for supplementary info tidbits you might want; background, fun facts, etc.
</p>

<p>
  <img src="images/strobe/code.png">
  This icon tells you you're looking at code. Which you likely knew... It's still pretty :p
</p>
<% end %>

<%= render "full_index", :guides => all_guides %>
