.navbar { border: 0; }
.navbar .container {max-width: 800px; }
.navbar .brand {
	height: 60px;
	line-height: 60px;
}
@media (max-width: 600px) { .navbar .brand span { display: none; } }
@media (max-width: 480px) {
	.navbar .brand {
		float: left;
		width: auto;
	}
}

/* `ui */

.aloha-ui { z-index: 9999; }

.aloha-3d {
	display: inline-block;
	position: absolute;
	-webkit-perspective: 200;
	   -moz-perspective: 200;
	    -ms-perspective: 200;
	        perspective: 200;

	/* Needed in Firefox <= 15 to activate 3d acceleration in order to apply
	   perspective */
	-moz-transform-style: preserve-3d;
	-moz-transform: perspective(200px);
}
/* This is the element on which to apply transformation */
.aloha-3d>* {
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.aloha-ui.btn-toolbar { 
	display: inline-block; 
	float: right;
}

.aloha-ui input,
.aloha-ui .btn,
.aloha-ui .btn:focus,
.aloha-ui .btn:active {
	outline: 0;
	height: 60px;
	margin: 0;
	padding: 0 10px;
	line-height: 60px;
}

.aloha-ui .btn,
.aloha-ui .btn-toolbar,
.aloha-ui.btn-toolbar {
	min-width: 45px;
	font-size: 18px;
	font-weight: 300;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	         font-smoothing: antialiased;
}
.aloha-ui .glyphicon { top :0; }

@media (max-width: 480px) {
	.aloha-ui .btn {
		min-width: 30px;
		font-size: 14px;
		padding: 0 10px;
	}
}

.aloha-ui .btn.dropdown-toggle { transition: width 250ms; }

.aloha-ui.btn-toolbar .dropdown-menu {
	border: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
@media (max-width: 768px) {
	.aloha-ui.btn-toolbar .dropdown-menu {
		right: 0;
		left: initial;
	}
}

.aloha-ui .dropdown-menu>li>a { padding: 10px 20px; }

.aloha-ui.btn-toolbar,
.aloha-ui a,
.aloha-ui a:focus,
.aloha-ui button,
.aloha-ui button:focus,
.aloha-ui .dropdown-menu a, 
.aloha-ui .dropdown-menu a:focus {
	border: 0;
	border-radius: 0;
	background: transparent;
	color: white;
}
.aloha-ui.btn-toolbar.btn-toolbar>.btn-group { margin-left: 0; }
.aloha-ui a,
.aloha-ui button {
	-webkit-transition: background-color 250ms;
	   -moz-transition: background-color 250ms;
	    -ms-transition: background-color 250ms;
	        transition: background-color 250ms;
}
.aloha-ui a.active,
.aloha-ui a:hover,
.aloha-ui button.active,
.aloha-ui button:hover,
.aloha-ui .dropdown-menu .active,
.aloha-ui .dropdown-menu a:hover,
.aloha-ui .btn-group.open .btn,
.aloha-ui .btn-group.open .btn.active {
	color: #fff;
	background: rgba(255,255,255,0.2);
	box-shadow: none;
}

@-webkit-keyframes flip-open {
	0% {
		opacity: 0.2;
		-webkit-transform: rotateX(30deg) translateY(5px) translateZ(10px) scale(0.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
}
@-moz-keyframes flip-open {
	0% {
		opacity: 0.2;
		-moz-transform: rotateX(30deg) translateY(5px) translateZ(10px) scale(0.8);
	}
	100% {
		opacity: 1;
		-moz-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
}
@-webkit-keyframes flip-close {
	0% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotateX(80deg) translateY(5px) translateZ(10px) scale(0.8);
	}
}
@-moz-keyframes flip-close {
	0% {
		opacity: 1;
		-moz-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
	100% {
		opacity: 0;
		-moz-transform: rotateX(80deg) translateY(5px) translateZ(10px) scale(0.8);
	}
}

/* `links */

.aloha-link-toolbar {
	display: none;
	position: absolute;
	white-space: nowrap;
	margin: 0;
}

.active .aloha-link-toolbar {
	display: block;
	-webkit-animation: flip-open .2s ease-out forwards;
	   -moz-animation: flip-open .2s ease-out forwards;
	    -ms-animation: flip-open .2s ease-out forwards;
	        animation: flip-open .2s ease-out forwards;
}
.closed .aloha-link-toolbar {
	-webkit-animation: flip-close .2s ease-out forwards;
	   -moz-animation: flip-close .2s ease-out forwards;
	    -ms-animation: flip-close .2s ease-out forwards;
	        animation: flip-close .2s ease-out forwards;
}
.aloha-link-toolbar a,
.aloha-link-toolbar input,
.aloha-link-toolbar button {
	display: block;
	float: left;
}
.aloha-link-toolbar input {
	color: #fff;
	border: 0;
	background: rgba(0,0,0,0.1);
	padding: 0 12px;
	width: 310px;
	font-size: 18px;
}
.aloha-link-toolbar .aloha-action-follow { float: right; }
.aloha-3d .aloha-link-toolbar { position: relative; }
.aloha-ui.aloha-link-toolbar { display: none; background: #333; }
.aloha-ui.aloha-link-toolbar.active { display: block; }

.aloha-active,
.aloha-active:hover { outline: 3px solid rgba(93, 174, 204, 0.15); }

.aloha-arrow-up {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	margin: -4px auto 0;
	border-left:   8px solid transparent;
	border-right:  8px solid transparent;
	border-bottom: 8px solid rgb(90,90,90);
}

.aloha-sticky-top-active {
	position: fixed;
	top: 0px;
}

.editable {
	max-width: 800px;
	margin: 50px auto 0;
	padding: 40px 30px;
}
.editable a { cursor: text; }
.editable p,
.editable h1,
.editable h2,
.editable h3,
.editable h4 { margin: 1em 0 0.5em; }
.editable h1 { font-size: 3em; }
.editable h2 { font-size: 2em; }
.editable li { margin-bottom: 0.5em; }
.editable>:first-child { margin-top: 0; }
.editable>:last-child { margin-bottom: 0; }
.editable b { font-weight: 700; }
.editable a {
	text-decoration: none;
	color: #797875;
	font-weight: 400;
	border-bottom: 2px dotted #e9e8e5;
	transition: none;
}

