/* Reset
--------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Base
--------------------------------------------- */

html {
  overflow-y: scroll;
}

body {
  color: #444;
  font: 12px/1.5 "Helvetica Neue", Arial, sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

/* Inputs */

input,
textarea,
select,
button {
  font: 12px "Helvetica Neue", Arial, sans-serif;
}

/* Links */

a:link,
a:visited {
	text-decoration: none;
}


/* Banner
--------------------------------------------- */

[role="banner"] {
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-bottom: 1px solid #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: #000;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  font-size: 90%;
}

#logo,
[role="banner"] nav,
[role="banner"] form {
  float: left;
}

/* Logo */

#logo {
  margin-top: 11px;
}

/* Navigation */

[role="banner"] nav {
  width: 600px;
  text-align: center;
}

[role="banner"] nav li {
  display: inline-block;
  padding: 16px 15px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

[role="banner"] nav li.active {
  background: url(../images/header/glow.png) no-repeat 50% 0;
}

[role="banner"] nav li.disabled {
  opacity: 0.25;
}

[role="banner"] nav a:link,
[role="banner"] nav a:visited {
  color: #fff;
}

[role="banner"] nav a:hover,
[role="banner"] nav .active a {
  color: #beff9d;
}

/* Search */

[role="banner"] input {
  width: 165px;
  height: 14px;
  margin-top: 13px;
  padding: 5px 8px 5px 27px;
  border: 0;
  color: #eee;
  background: #000 url(../images/header/search.png) no-repeat 8px 6px;
  background: rgba(0, 0, 0, 0.19) url(../images/header/search.png) no-repeat 8px 6px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), inset 0 1px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), inset 0 1px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), inset 0 1px 6px rgba(0, 0, 0, 0.5);
}

[role="banner"] input:focus {
  outline: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.07);
}


/* Footer
--------------------------------------------- */

body > footer {
  padding: 40px 0;
  color: #e9e9e9;
  font-size: 14px;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  background: #343434 url(../images/footer/dot.png);
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

/* Columns */

body > footer .col {
  float: left;
}

body > footer .col:nth-child(1) {
  width: 305px;
}

body > footer .col:nth-child(2) {
  width: 200px;
  margin: 0 85px;
}

body > footer .col:nth-child(3) {
  width: 285px;
}

/* Logo */

body > footer .col:nth-child(1) > a {
  display: inline-block;
  margin-bottom: 24px;
}

/* Headers */

body > footer h1 {
  margin-bottom: 1em;
  font-weight: bold;
}

/* Nav */

body > footer a:link,
body > footer a:visited {
  color: #a1bed5;
  font-size: inherit;
}

body > footer a:hover {
  color: #6c8191;
}

body > footer ul {
  overflow: hidden;
  margin-bottom: 24px;
}

body > footer li {
  float: left;
}

body > footer nav li {
  width: 100px;
}

body > footer nav > a img {
  display: block;
}

body > footer .social li:nth-child(2) {
  margin: 0 8px;
}

body > footer .social li:nth-child(4) {
  width: 90px;
	margin: -1px 0 0 5px;
	line-height: 1.2;
}

/* Newsletter */

#newsletter.button.secondary {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #000;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #000;
  opacity: 0.5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.14);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.14);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.14);
  background: #242424;
  background: -moz-linear-gradient(top, #3b3b3b, #2f2f2f 50%, #242424 51%, #161616);
  background: -ms-linear-gradient(top, #3b3b3b, #2f2f2f 50%, #242424 51%, #161616);
  background: -o-linear-gradient(top, #3b3b3b, #2f2f2f 50%, #242424 51%, #161616);
  background: -webkit-gradient(linear, left top, left bottom, from(#3b3b3b), color-stop(50%, #2f2f2f), color-stop(51%, #242424), to(#161616));
  background: -webkit-linear-gradient(top, #3b3b3b, #2f2f2f 50%, #242424 51%, #161616);
  background: linear-gradient(top, #3b3b3b, #2f2f2f 50%, #242424 51%, #161616);
}

#newsletter.button.secondary:hover {
	background: #333;
  background: -moz-linear-gradient(top, #333, #161616);
  background: -ms-linear-gradient(top, #333, #161616);
  background: -o-linear-gradient(top, #333, #161616);
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#161616));
  background: -webkit-linear-gradient(top, #333, #161616);
  background: linear-gradient(top, #333, #161616);
}

#newsletter.button.secondary:active {
	background: #161616;
  background: -moz-linear-gradient(top, #161616, #333);
  background: -ms-linear-gradient(top, #161616, #333);
  background: -o-linear-gradient(top, #161616, #333);
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#333));
  background: -webkit-linear-gradient(top, #161616, #333);
  background: linear-gradient(top, #161616, #333);
}

/* Back to top */

body > footer .top:link,
body > footer .top:visited {
  position: absolute;
  top: -40px;
  right: 0;
  padding: 0 20px 0 43px;
  border: 1px solid #2a2a2a;
  border: 1px solid rgba(0, 0, 0, 0.33);
  border-top: 0;
  color: #ececec;
  font-weight: bold;
  font-size: 9px;
  line-height: 30px;
  text-transform: uppercase;
  background: #222 url(../images/footer/top.png) no-repeat 20px 7px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

body > footer .top:hover {
  border-color: #151515;
  border-color: rgba(0, 0, 0, 0.6);
  background-color: #1f1f1f;
  background-color: rgba(0, 0, 0, 0.4);
}