.aloha-block table.debug-block {
	background: #EEEEEE;
	border: 1px dashed #999999;
	border-radius: 7px;
	margin: 5px 0;
	padding: 4px;
	width: 100%;
}
.aloha-block:hover {
	background: #FFFCE2;
	cursor: pointer;
	outline: 1px solid #FFE98A;
}
.aloha-block-active,
.aloha-block-active:hover {
	outline: 1px solid #2F7ECC;
	background: #B4D7F8;
}
