.aloha-block table.debug-block {
	background: #EEEEEE;
	border: 1px dashed #999999;
	border-radius: 7px;
	margin: 5px 0;
	padding: 4px;
	width: 100%;
}
.aloha-block-active {
	outline: 2px solid #2F7ECC;
	background: #B4D7F8;
}
