/*
 * jsTree browser theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree li a {
	display: inline-block;
	padding: 4px;
	border: 1px solid transparent;
	border-radius:			3px;
	-moz-border-radius:		3px;
	-webkit-border-radius:	3px;
}
.jstree-browser li > ins {
	cursor: pointer;
	background: url(../img/arrow-315-medium.png) no-repeat center center;
}

/*
.jstree-browser ins { background-image:url("xd.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-browser li { background-position:-90px 0; background-repeat:repeat-y; border-left: 1px dotted #ccc; }
*/
.jstree-browser li {
	margin-left: 10px;
	padding-left: 5px;
	border-left: 1px dotted #ccc;
}
.jstree-browser li.jstree-last { background:transparent; }
.jstree-browser > ul:first-child > li { border-left-width: 0; }

.jstree-browser li > ins {
	background: transparent no-repeat center center;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.jstree-browser li > ins:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.jstree-browser li.jstree-open > ins {
	background-image: url(../img/arrow-315-medium.png);
	opacity: 1;
	filter: alpha(opacity=100);
}
.jstree-browser li.jstree-closed > ins {
	background-image: url(../img/arrow-000-medium.png);
}
.jstree-browser li.jstree-leaf > ins {
	background-image: url(../img/control-stop-square-small.png);
}
/*
.jstree-browser .jstree-hovered { background:#f9d53f; border:1px solid #f7b940; }
.jstree-browser .jstree-clicked { background:#88c7ea; border:1px solid #48a3d2; }
*/
.jstree-browser .jstree-hovered {
	border: 1px solid #355ea0;
	background-image: -webkit-gradient(
    	linear,
    	center top,
    	center bottom,
    	color-stop(0.00, #81add2),
    	color-stop(0.10, #5693cc),
    	color-stop(0.45, #5b9acf),
    	color-stop(0.60, #508ac9),
    	color-stop(1.00, #456eb0)
	);
	background-image: -moz-linear-gradient(
    	center top,
		#81add2 0%,
		#5693cc 10%,
		#5b9acf 45%,
    	#508ac9 60%,
    	#456eb0 100%
	);
	filter: progid:DXImageTransform.Microsoft.Gradient(
		startColorstr='#81add2',
		endColorstr='#456eb0',
		gradientType='0'
	);
	
	color: #fff;
	
	-moz-box-shadow:	0 2px 10px rgba(0, 0, 0, .3);
	-webkit-box-shadow:	0 2px 10px rgba(0, 0, 0, .3);
	box-shadow:			0 2px 10px rgba(0, 0, 0, .3);
}
.jstree-browser .jstree-clicked {
	border-top: 1px solid #303539;
	background-color: #33363b;
	background-image: -webkit-gradient(
    	linear,
    	center top,
    	center bottom,
    	color-stop(0.00, #6c6f74),
    	color-stop(0.05, #4c4f54),
    	color-stop(0.10, #3f4448),
    	color-stop(0.45, #383d41),
    	color-stop(0.50, #303539),
    	color-stop(0.95, #33363b),
    	color-stop(1.00, #4c4f54)
	);
	background-image: -moz-linear-gradient(
    	center top,
		#6c6f74 0%,
		#4c4f54 5%,
		#3f4448 10%,
    	#383d41 45%,
    	#303539 50%,
    	#33363b 95%,
    	#4c4f54 100%
	);
	filter: progid:DXImageTransform.Microsoft.Gradient(
		startColorstr='#383d41',
		endColorstr='#303539',
		gradientType='0'
	);
	
	color: #ddd;
	text-shadow: 0 0 4px #23262b;
}
.jstree-browser .jstree-hovered.jstree-clicked {
	border-color: #303539;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

/* Folder */
.jstree-browser a .jstree-icon {
	background: url(../img/folder-horizontal-open.png) no-repeat center center;
	cursor: pointer;
}
.jstree-browser a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }
.jstree-browser a.jstree-clicked .jstree-icon   {
	background-image: url(../img/folder-open.png);
}

.jstree-browser.jstree-focused {
	background-color: #fff;
	background-image: -webkit-radial-gradient(
		#fff 50%,
		rgba(200, 200, 200, 0.3) 90%,
		rgba(200, 200, 200, 0.4) 100%
	);
	background-image: -moz-radial-gradient(
		#fff 50%,
		rgba(200, 200, 200, 0.3) 90%,
		rgba(200, 200, 200, 0.4) 100%
	);
}

/* IE6 BEGIN */
/*
.jstree-browser li, 
.jstree-browser ins,
#vakata-dragged.jstree-browser .jstree-invalid, 
#vakata-dragged.jstree-browser .jstree-ok, 
#jstree-marker.jstree-browser { _background-image:url("d.gif"); }
.jstree-browser .jstree-open ins { _background-position:-72px 0; }
.jstree-browser .jstree-closed ins { _background-position:-54px 0; }
.jstree-browser .jstree-leaf ins { _background-position:-36px 0; }
.jstree-browser a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-browser-context ins { _display:none; }
#vakata-contextmenu.jstree-browser-context li { _zoom:1; }
.jstree-browser .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-browser .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-browser .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
*/
/* IE6 END */