.aloha-block {
	-webkit-transition: -webkit-transform 0.2s ease-out;
	   -moz-transition:    -moz-transform 0.2s ease-out;
	    -ms-transition:     -ms-transform 0.2s ease-out;
	     -o-transition:      -o-transform 0.2s ease-out;
}

.aloha-block-dragging {
	opacity: 0.2;
	-webkit-transform: scale(0.9);
	   -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	     -o-transform: scale(0.9);
}

/* IMPORTANT: This style hack is required for aloha.ranges.box() to work
 * properly (https://github.com/alohaeditor/Aloha-Editor/issues/1138) */
.aloha-editable br, .aloha-editable br:after { content: "\A"; white-space: pre-line; }
