html {
	height: 100%;
	background: #fefdfd;
}

body {
	margin: 0;
	padding: 5% 20%;
	color: #565452;
	font-size: 20px;
	line-height: 1.6em;
	min-height: 100%;
	box-shadow: 0 0 100px rgba(0,0,0,0.2) inset;
}

::selection {
	background: rgba(50,30,10,0.1);
	color: inherit;
}
::-moz-selection {
	background: rgba(50,30,10,0.1);
	color: inherit;
}

.aloha-editable {
	outline: 0;
}
p { margin: 0 0 1em; }
p:last-child { margin-bottom: 0; }


.aloha-caret {
	z-index: 1;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: #0c59ef;
	-webkit-transition: left 80ms ease-in-out;
	   -moz-transition: left 80ms ease-in-out;
	    -ms-transition: left 80ms ease-in-out;
	     -o-transition: left 80ms ease-in-out;
	        transition: left 80ms ease-in-out;
}

.blink {
	-webkit-animation: blink .5s ease-out infinite alternate;
	   -moz-animation: blink .5s ease-out infinite alternate;
	    -ms-animation: blink .5s ease-out infinite alternate;
	     -o-animation: blink .5s ease-out infinite alternate;
	        animation: blink .5s ease-out infinite alternate;
}

@-moz-keyframes blink {
	  0% {opacity: 0.0}
	100% {opacity: 0.9}
}
@-webkit-keyframes blink {
	  0% {opacity: 0.0}
	100% {opacity: 0.9}
}
