.aloha-cite-button {
	background: yellow !important;
	border-radius: 3px 3px 3px 3px;
    height: 44px !important;
    width: 54px !important;
}
.aloha-cite-pressed {
	background: red !important;
}

.aloha-cite-wrapper {
	background: #efd25d;
}
q.aloha-cite-wrapper {
	background: #ffd25d;
}
blockquote.aloha-cite-wrapper {
	background: #dfd25d;
}


.aloha-cite-panel-label {
	padding: 5px;
}
.aloha-cite-panel-field {
}
.aloha-cite-panel-btns {
	padding: 5px;
}

.aloha-cite-panel-field input,
.aloha-cite-panel-field textarea {
	width: 100%;
}
