/**
 * Hide the border for contenteditables
 */
.aloha-ui-table-cell-editable,
.aloha-ui-table-wrapper {
	outline: 0px solid transparent;
}

/* :TODO: make custom cursors visible in IE */
.aloha-table tr.aloha-ui-table-selectcolumn td.aloha-ui-table-leftuppercorner,
.aloha-table tr.aloha-ui-table-selectcolumn td.aloha-ui-table-leftuppercorner:hover {
	cursor: default;
	background: #D0D0D0;
	padding: 0;
}

tr.aloha-ui-table-selectcolumn td,
td.aloha-table-selectrow {
	visibility: hidden;
}

.aloha-editable-active tr.aloha-ui-table-selectcolumn td,
.aloha-editable-active td.aloha-table-selectrow {
	visibility: visible;
}

.aloha-table tr.aloha-ui-table-selectcolumn {
	height: 0px;
}

.aloha-table td .aloha-ui-table-cell-editable {
	cursor: text !important;
}

.aloha-table tr.aloha-ui-table-selectcolumn td {
	cursor: url(../img/down.cur),default;
}

/* :TODO: make custom cursors visible in IE */
.aloha-table td.aloha-table-selectrow {
	cursor: url(../img/left.cur),default;
}
.aloha-editable div.aloha-ui-table-wrapper, .aloha-ui-table-wrapper div.aloha-ui-table-cell-editable, 
.aloha-ui-table-wrapper .aloha-ui-table-leftuppercorner div, .aloha-ui-table-wrapper tr.aloha-ui-table-selectcolumn td,
.aloha-ui-table-wrapper td.aloha-table-selectrow , .aloha-ui-table-wrapper div.aloha-editable-caption
{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

.aloha-ui-table-wrapper table {
	/* width: 100%; */
	-moz-box-shadow:	0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow:	0 2px 5px rgba(0, 0, 0, .2);
	box-shadow:		0 2px 5px rgba(0, 0, 0, .2);
}
.aloha-ui-table-wrapper td {
	border: 1px solid #D0D0D0;
}


.aloha-ui-table-wrapper div.aloha-ui-wai-red {
	background: url(../img/wai-red.png) no-repeat center center;
}

.aloha-ui-table-wrapper div.aloha-ui-wai-green {
	background: url(../img/wai-green.png) no-repeat center center;
}

.aloha-table td.aloha-ui-table-leftuppercorner div {
	cursor: pointer !important;
}

.aloha-table td.aloha-table-selectrow,
.aloha-table tr.aloha-ui-table-selectcolumn td {
	border: 1px solid #D0D0D0;
	margin:0;
	padding:0;
	background-color: rgba(255, 255, 255, 0.8);
	background-image: -webkit-gradient(
		linear,
		center top,
		center bottom,
		color-stop(0.00, rgba(0, 0, 0, 0.0)),
		color-stop(0.80, rgba(0, 0, 0, 0.1)),
		color-stop(1.00, rgba(0, 0, 0, 0.15))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgba(0, 0, 0, 0.0) 0%,
		rgba(0, 0, 0, 0.1) 80%,
		rgba(0, 0, 0, 0.15) 100%
	);
	filter: progid:DXImageTransform.Microsoft.Gradient(
		startColorstr='#ffffff',
		endColorstr='#eeeeee',
		gradientType='0'
	);
	font-size: 0.01em;
	line-height: 0px;

}

.aloha-table td.aloha-table-selectrow:hover,
.aloha-table tr.aloha-ui-table-selectcolumn td:hover {
	background-color: #FFE767;
}

/**
 * create dialog
*/
.aloha-table-createdialog {
	z-index: 99999;
	position: absolute;
	background-color: #F0F0F0;
	border: 1px solid #cccccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.aloha-table-createdialog table {
	padding: 0px;
	margin: 0px;
}
.aloha-table-createdialog table td {
	margin: 0px;
	padding: 0px;
	border: 1px solid #AFAFAF;
	font-size: 8px;
	width: 15px;
	height: 15px;
}
.aloha-table-createdialog table td.hover {
	background-color: #1c94c4;
}
.aloha-table-createdialog #table-size-info {
	text-align: center;
	font-size: 0.8em;
}
.aloha-cell-selected {
	background-color: #3399FF !important;
	color: #FFF;
}
.aloha-ui-table-wrapper div.aloha-ui-table-cell-editable {
	height: 100%;
	min-height: 100%;
	width: 100%;
	padding: 0.3em;
	z-index: 99999;
}
button.aloha-button-table-caption {
	background-position: -320px 0px !important;
}


button.aloha-button.aloha-button-addcolumnleft {
	background-position: -112px 0 !important;
}

button.aloha-button.aloha-button-addcolumnright {
	background-position: -128px 0 !important;
}
