/**
 * Hide the border for contenteditables
 */
.aloha-table-cell-editable,
.aloha-table-wrapper {
	outline: 0px solid transparent;
}

/* :tODO: make custom cursors visible in IE */
.aloha-table tr.aloha-table-selectcolumn td.aloha-table-leftuppercorner,
.aloha-table tr.aloha-table-selectcolumn td.aloha-table-leftuppercorner:hover {
	cursor: default;
	background-color: transparent;
}

tr.aloha-table-selectcolumn td,
td.aloha-table-selectrow {
	visibility: hidden;
}

.aloha-editable-active tr.aloha-table-selectcolumn td,
.aloha-editable-active td.aloha-table-selectrow {
	visibility: visible;
}

.aloha-table tr.aloha-table-selectcolumn {
	height: 10px;
}

.aloha-table td .aloha-table-cell-editable {
	cursor: text !important;
}

.aloha-table tr.aloha-table-selectcolumn td {
	cursor: url(../img/down.cur),default;
}

/* :tODO: make custom cursors visible in IE */
.aloha-table td.aloha-table-selectrow {
	cursor: url(../img/left.cur),default;
}

.aloha-wai-red {
	background-image: url(../img/wai-red.png);
}

.aloha-wai-green {
	background-image: url(../img/wai-green.png);
}

.aloha-table td.aloha-table-leftuppercorner div {
	cursor: pointer !important;
}

.aloha-table td.aloha-table-selectrow,
.aloha-table tr.aloha-table-selectcolumn td {
	border: 0;
	margin:0;
	padding:0;
	background-color: #D0D0D0;
	font-size: 0.01em;
}

.aloha-table td.aloha-table-selectrow:hover,
.aloha-table tr.aloha-table-selectcolumn td:hover {
	background-color: #c0c0c0;
}

/**
 * create dialog
*/
.aloha-table-createdialog {
	z-index: 99999;
	position: absolute;
	background-color: #F0F0F0;
	border: 1px solid #cccccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.aloha-table-createdialog table {
	padding: 0px;
	margin: 0px;
}
.aloha-table-createdialog table td {
	margin: 0px;
	padding: 0px;
	border: 1px solid #AFAFAF;
	font-size: 8px;
	width: 15px;
	height: 15px;
}
.aloha-table-createdialog table td.hover {
	background-color: #1c94c4;
}
.aloha-table-createdialog #table-size-info {
	text-align: center;
	font-size: 0.8em;
}
.aloha-cell-selected {
	background-color: #3399FF !important;
	color: #FFF;
}
div.aloha-table-cell-editable {
	height: 100%;
	min-height: 100%;
	width: 100%;
	z-index: 99999;
}
button.aloha-button-table-caption {
	background-position: -320px 0px !important;
}
