/*
#54c8eb light blue
#4ea9de med blue
#4b97d2 dark blue
#92cc8f light green
#41bb98 mint green
#c9de83 yellowish green
#dee569 yellowisher green
#c891c0 light purple
#9464a8 med purple
#7755a1 dark purple
#f069a1 light pink
#f05884 med pink
#e7457b dark pink
#ffd47e peach
#f69078 salmon
*/

.featurette .glyphicon-heart {
	color: #e7457b;
}

.featurette .glyphicon-briefcase {
	color: #41bb98;
}

.featurette .glyphicon-dashboard {
	color: #ffd47e;
}

a.navbar-brand img {
	position: relative;
	top: -10px;
	margin-left: -12px;
	height: 35px;
}

body {
	font-size: 21px;
}

.footer .row p {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	-moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
             font-smoothing: antialiased;
	font-weight: 300;
	color: #797875;
}

.funky {
	background-color: #54c8eb;
	transition: background-color 15s;
}

.froggy-container {
	padding: 7% 0;
}

.froggy-container img {
	-webkit-filter: brightness(5);
	filter: brightness(5);
	transition: -webkit-filter 5s, filter 5s;
}

.navbar {
	border: 0;
	height: 60px;
}
.navbar::before {
	content: '';
	z-index: -1;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(letters.png);
	background-size: 500px;
	background-position: -20px -5px;
	opacity: 0.02;
}
.navbar>.container {
	position: relative;
	top: 7px;
}

.navbar-header, .navbar-right {
	display: none;
}

.navbar .navbar-nav>li>a, .navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a .glyphicon {
	color: white;
	font-size: 18px;
	outline: 0;
}

.navbar-nav>li>a .glyphicon {
	display: none;
}

.page-header {
	border: 0;
	position: relative;
	padding-top: 40px;
	margin-top: 60px;
	min-height: 85%;
}

.page-header::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 200px;
	bottom: 0px;
	left: 0px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
	opacity: 0.1;
}

.header h1 {
	font-size: 70px;
	margin-bottom: 30px;
	color: white;
}

.header p {
	font-size: 24px;
	margin-bottom: 30px;
	color: white;
}

h1 { font-size: 2.5em; }
h1, h2 { font-weight: 700; }

.muted {
	background: white;
	box-shadow: 0 0 100px rgb(240,240,240);
}

.navbar-collapse img {
	width: 20px;
	height: 20px;
}

.navbar-collapse .glyphicon, .navbar-collapse img {
	margin-right: 5px;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	border: 0;
	background: white;
}

.page-header .btn-wrap {
	height: 100px;
	display: none;
}

.btn-download, .btn-tryit, .btn-example, .shop .featurette .btn, .blog-entries .btn {
	background: transparent;
	transition: text-shadow 1s, box-shadow 1s;
	outline: 0;
}

.btn-download, .btn-download:hover, .btn-download:focus, .btn-tryit, .btn-tryit:hover, .btn-tryit:focus, .btn-example, .btn-example:hover, .btn-example:focus {
	border-color: white;
	color: white;
	outline: 0;
}

.btn-download, .flip-container {
	float: left;
	margin-right: 15px;
}

.btn-download:hover, .btn-tryit:hover, .btn-example:hover, .shop .featurette .btn:hover, .blog-entries .btn:hover {
	text-shadow: 0 0 20px;
	box-shadow: 0 0 20px;
}

.btn-tryit, .btn-example {
	width: 100%;
}

.demo-edit {
	min-height: 180px;
	margin-top: 100px;
}

.demo-edit b, .demo-edit u, .demo-edit i {
	color: white;
}
.demo-edit b {
	font-weight: 700;
}

.navbar .container, .header .container {
	padding: 0px 20px;
}

.container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.featurette h2 {
	margin-bottom: 40px;
}

.features .featurette .glyphicon {
	font-size: 100px;
	margin-left: 30%;
}

.container p {
	line-height: 1.5;
}

#license .gpl-logo {
	margin-top: 40px;
	text-align: center;
}

.shop .featurette .glyphicon {
	font-size: 50px;
}

.shop .head {
	margin-bottom: 60px;
}

.shop .featurette .btn, .blog-entries .btn {
	background: transparent;
	border: 1px solid #54c8eb;
	color: #54c8eb;
}

.shop .featurette>div {
	margin-bottom: 60px;
}

.blog-entries p {
	font-size: 14px;
}

#followTheFrog {
	display: block;
	padding: 2em 0;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	border: 0;
	color: #c9c8c5;
}
#followTheFrog:hover { color: #999895; }

.aloha-ui {
	z-index: 9999;
}

.aloha-ui * {
	color: white;
}

.aloha-3d {
	display: inline-block;
	position: absolute;
	-webkit-perspective: 200;
	   -moz-perspective: 200;
	    -ms-perspective: 200;
	        perspective: 200;

	/* Needed in Firefox <= 15 to activate 3d acceleration in order to apply
	   perspective */
	-moz-transform-style: preserve-3d;
	-moz-transform: perspective(200px);
}
/* This is the element on which to apply transformation */
.aloha-3d>* {
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.aloha-ui.btn-toolbar { 
	display: inline-block; 
	float: right;
}

.aloha-ui input,
.aloha-ui .btn,
.aloha-ui .btn:focus,
.aloha-ui .btn:active { outline: 0; }

.aloha-ui .btn,
.aloha-ui .btn-toolbar,
.aloha-ui.btn-toolbar {
	font-size: 18px;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	         font-smoothing: antialiased;
}
.aloha-ui .btn {
	min-width: 45px;
	height: 45px;
	margin-left: 0;
}
.aloha-ui .btn.dropdown-toggle {
	-webkit-transition: width 0.25s;
	   -moz-transition: width 0.25s;
	    -ms-transition: width 0.25s;
	        transition: width 0.25s;
}

.aloha-ui.btn-toolbar .dropdown-menu {
	border: 0;
	padding: 0;
	font-size: 16px;
}

.aloha-ui .dropdown-menu>li>a { padding: 10px 20px; }

.aloha-ui.btn-toolbar,
.aloha-ui a,
.aloha-ui a:focus,
.aloha-ui button,
.aloha-ui button:focus,
.aloha-ui .dropdown-menu a, 
.aloha-ui .dropdown-menu a:focus {
	border: 0;
	border-radius: 0;
	background: transparent;
	color: white;
	margin: 0 1px;
}
.aloha-ui.btn-toolbar.btn-toolbar>.btn-group {
	margin-left: 0;
}
.aloha-ui a
.aloha-ui button {
	-webkit-transition: background-color 0.25s;
	   -moz-transition: background-color 0.25s;
	    -ms-transition: background-color 0.25s;
	        transition: background-color 0.25s;
}
.aloha-ui a.active,
.aloha-ui a:hover,
.aloha-ui button.active,
.aloha-ui button:hover,
.aloha-ui .dropdown-menu .active,
.aloha-ui .dropdown-menu a:hover,
.aloha-ui .btn-group.open .btn,
.aloha-ui .btn-group.open .btn.active {
	color: white;
	background: rgba(255,255,255,0.2);
	box-shadow: 0;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
}

@-webkit-keyframes flip-open {
	0% {
		opacity: 0.2;
		-webkit-transform: rotateX(30deg) translateY(5px) translateZ(10px) scale(0.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
}
@-moz-keyframes flip-open {
	0% {
		opacity: 0.2;
		-moz-transform: rotateX(30deg) translateY(5px) translateZ(10px) scale(0.8);
	}
	100% {
		opacity: 1;
		-moz-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
}
@-webkit-keyframes flip-close {
	0% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotateX(80deg) translateY(5px) translateZ(10px) scale(0.8);
	}
}
@-moz-keyframes flip-close {
	0% {
		opacity: 1;
		-moz-transform: rotateX(0deg) translateY(0px) translateZ(0px) scale(1.0);
	}
	100% {
		opacity: 0;
		-moz-transform: rotateX(80deg) translateY(5px) translateZ(10px) scale(0.8);
	}
}

/** links **/
.aloha-link-toolbar {
	display: none;
	position: absolute;
	white-space: nowrap;
	background: #333;
}
.active .aloha-link-toolbar {
	display: block;
	-webkit-animation: flip-open .2s ease-out forwards;
	   -moz-animation: flip-open .2s ease-out forwards;
	    -ms-animation: flip-open .2s ease-out forwards;
	        animation: flip-open .2s ease-out forwards;
}
.closed .aloha-link-toolbar {
	-webkit-animation: flip-close .2s ease-out forwards;
	   -moz-animation: flip-close .2s ease-out forwards;
	    -ms-animation: flip-close .2s ease-out forwards;
	        animation: flip-close .2s ease-out forwards;
}
.aloha-link-toolbar a,
.aloha-link-toolbar input,
.aloha-link-toolbar button {
	display: block;
	float: left;
}
.aloha-link-toolbar input {
	color: #fff;
	border: 0;
	background: rgba(255,255,255,0.2);
	padding: 0 12px;
	width: 310px;
	height: 49px;
	font-size: 18px;
	margin-top: -4px;
}
.aloha-link-toolbar a.btn { padding-top: 10px; }
.aloha-link-toolbar .aloha-action-follow { float: right; }

.aloha-3d .aloha-link-toolbar { position: relative; }
.aloha-ui.aloha-link-toolbar { display: none; background: #333; }
.aloha-ui.aloha-link-toolbar.active { display: block; }

.aloha-active,
.aloha-active:hover {
	outline: 3px solid rgba(93, 174, 204, 0.15);
}

.aloha-arrow-up {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	margin: -4px auto 0;
	border-left:   8px solid transparent;
	border-right:  8px solid transparent;
	border-bottom: 8px solid rgb(90,90,90);
}

.aloha-sticky-top-active {
	position: fixed;
	top: 0px;
}

.menu-wrap { height: 45px; }

.aloha-editable {
	padding-top: 40px;
}

.aloha-editable a {
	cursor: text;
	text-decoration: underline;
}

.navbar {
	height: auto;
	min-height: 60px;
}

.navbar-header, .navbar-right {
	display: block;
}

.aloha-editable {
	max-width: 800px;
	margin: 50px auto 0;
	padding: 50px;
}
.aloha-editable p,
.aloha-editable h1,
.aloha-editable h2,
.aloha-editable h3,
.aloha-editable h4 { margin: 1em 0 0.5em; }
.aloha-editable li { margin-bottom: 0.5em; }
.aloha-editable>:first-child { margin-top: 0; }
.aloha-editable>:last-child { margin-bottom: 0; }
.aloha-editable b { font-weight: 700; }
.aloha-editable a {
	color: #797875;
	text-decoration: none;
	font-weight: 400;
	border-bottom: 2px dotted #e9e8e5;
}

@media (max-width: 768px) {
	.aloha-editable { margin-top: 100px; }
}
@media (max-width: 480px) {
	.aloha-editable { margin-top: 140px; }
}
